<p id="notice"><%= notice %></p>

<p>
  <strong>Equipamentos:</strong>
  <%= @feature.equipamentos %>
</p>

<p>
  <strong>Proficiencias:</strong>
  <%= @feature.proficiencias %>
</p>

<p>
  <strong>Player:</strong>
  <%= @feature.player %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
