<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :especie %><br>
    <%= f.text_field :especie %>
  </div>
  <div class="field">
    <%= f.label :altura %><br>
    <%= f.text_field :altura %>
  </div>
  <div class="field">
    <%= f.label :peso %><br>
    <%= f.text_field :peso %>
  </div>
  <div class="field">
    <%= f.label :gravidade %><br>
    <%= f.text_field :gravidade %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :idade %><br>
    <%= f.text_field :idade %>
  </div>
  
  <%= f.fields_for :atribute do |ff| %>
    <div class= "field">
	<%= ff.label :Forca %><br>
	<%= ff.number_field :Forca %>
    </div> 
    <div class= "field">
	<%= ff.label :Reflexo %><br>
	<%= ff.number_field :Reflexo %>
    </div>
    <div class= "field">
	<%= ff.label :Saude %><br>
	<%= ff.number_field :Saude %>
    </div>
    <div class= "field">
	<%= ff.label :Intuicao %><br>
	<%= ff.number_field :Intuicao %>
    </div>
    <div class= "field">
	<%= ff.label :Vontade %><br>
	<%= ff.number_field :Vontade %>
    </div>
    <div class= "field">
	<%= ff.label :Presenca %><br>
	<%= ff.number_field :Presenca %>
    </div>

    <% end %>

    <%= f.fields_for :feature do |ff|%>

    <div class= "field">
	<%= ff.label :equipamentos %><br>
	<%= ff.text_area :equipamentos %>
    </div>

    <div class= "field">
	<%= ff.label :proficiencias %><br>
	<%= ff.text_area:proficiencias %>
    </div>

 <% end %>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
