<p id="notice"><%= notice %></p>

<%= form_tag(players_path, :method => :get) do %>
  <%= text_field_tag 'procurar..', nil, placeholder: 'Nome ou fragmento..' %>
  <%= submit_tag "Procurar" %>
<% end %>

<h1>Lista de Personagens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Especie</th>
      <th>Altura</th>
      <th>Peso</th>
      <th>Gravidade</th>
      <th>Sexo</th>
      <th>Idade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.especie %></td>
        <td><%= player.altura %></td>
        <td><%= player.peso %></td>
        <td><%= player.gravidade %></td>
        <td><%= player.sexo %></td>
        <td><%= player.idade %></td>
	<% if current_user.email.eql?("hgmoura@yahoo.com") %>
           <td><%= link_to 'Mostrar', player %></td>
           <td><%= link_to 'Editar', edit_player_path(player) %></td>
           <td><%= link_to 'Destruir', player, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
	<% else %>
	    <td><%= link_to 'Mostrar', player %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo personagem', new_player_path %><br>
<%= current_user.email %></li>
<% if user_signed_in? %>
  <li>
  <%= link_to('Desconectar', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Conectar', new_user_session_path)  %>  
  </li>
<% end %>
