<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @player.especie %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @player.altura %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @player.peso %>
</p>

<p>
  <strong>Gravidade:</strong>
  <%= @player.gravidade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @player.sexo %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @player.idade %>
</p>

<p>
  <strong>Forca:</strong>
  <%= @player.atribute.Forca %>
</p>

<p>
  <strong>Reflexo:</strong>
  <%= @player.atribute.Reflexo %>
</p>

<p>
  <strong>Saude:</strong>
  <%= @player.atribute.Saude %>
</p>

<p>
  <strong>Intuicao:</strong>
  <%= @player.atribute.Intuicao %>
</p>

<p>
  <strong>Vontade:</strong>
  <%= @player.atribute.Vontade %>
</p>

<p>
  <strong>Presenca:</strong>
  <%= @player.atribute.Presenca %>
</p>

<p>
  <strong>Equipamentos:</strong>
  <%= @player.feature.equipamentos %>
</p>

<p>
  <strong>Proficiencias:</strong>
  <%= @player.feature.proficiencias %>
</p>

<%= link_to 'Editar', edit_player_path(@player) %> |
<%= link_to 'Retornar', players_path %>
