<%= form_for(@atribute) do |f| %>
  <% if @atribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atribute.errors.count, "error") %> prohibited this atribute from being saved:</h2>

      <ul>
      <% @atribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Forca %><br>
    <%= f.number_field :Forca %>
  </div>
  <div class="field">
    <%= f.label :Reflexo %><br>
    <%= f.number_field :Reflexo %>
  </div>
  <div class="field">
    <%= f.label :Saude %><br>
    <%= f.number_field :Saude %>
  </div>
  <div class="field">
    <%= f.label :Intuicao %><br>
    <%= f.number_field :Intuicao %>
  </div>
  <div class="field">
    <%= f.label :Vontade %><br>
    <%= f.number_field :Vontade %>
  </div>
  <div class="field">
    <%= f.label :Presenca %><br>
    <%= f.number_field :Presenca %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
