<p id="notice"><%= notice %></p>

<h1>Listing Atributes</h1>

<table>
  <thead>
    <tr>
      <th>Forca</th>
      <th>Reflexo</th>
      <th>Saude</th>
      <th>Intuicao</th>
      <th>Vontade</th>
      <th>Presenca</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atributes.each do |atribute| %>
      <tr>
        <td><%= atribute.Forca %></td>
        <td><%= atribute.Reflexo %></td>
        <td><%= atribute.Saude %></td>
        <td><%= atribute.Intuicao %></td>
        <td><%= atribute.Vontade %></td>
        <td><%= atribute.Presenca %></td>
        <td><%= atribute.player %></td>
        <td><%= link_to 'Show', atribute %></td>
        <td><%= link_to 'Edit', edit_atribute_path(atribute) %></td>
        <td><%= link_to 'Destroy', atribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo atributo', new_atribute_path %>
