<p id="notice"><%= notice %></p>

<p>
  <strong>Forca:</strong>
  <%= @atribute.Forca %>
</p>

<p>
  <strong>Reflexo:</strong>
  <%= @atribute.Reflexo %>
</p>

<p>
  <strong>Saude:</strong>
  <%= @atribute.Saude %>
</p>

<p>
  <strong>Intuicao:</strong>
  <%= @atribute.Intuicao %>
</p>

<p>
  <strong>Vontade:</strong>
  <%= @atribute.Vontade %>
</p>

<p>
  <strong>Presenca:</strong>
  <%= @atribute.Presenca %>
</p>

<p>
  <strong>Player:</strong>
  <%= @atribute.player %>
</p>

<%= link_to 'Edit', edit_atribute_path(@atribute) %> |
<%= link_to 'Back', atributes_path %>
